@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

.welcome-message{
	font-family: 'Press Start 2P', cursive;
}

button {
	background: #14759c;
	background-image: -webkit-linear-gradient(top, #14759c, #116388);
	background-image: -moz-linear-gradient(top, #14759c, #116388);
	background-image: -ms-linear-gradient(top, #14759c, #116388);
	background-image: -o-linear-gradient(top, #14759c, #116388);
	background-image: linear-gradient(to bottom, #14759c, #116388);
	-webkit-border-radius: 8;
	-moz-border-radius: 8;
	border-radius: 8px;
	color: #ffffff;
	font-family: 'Press Start 2P';	
	font-size: 18px;
	padding: 12px 20px 10px 20px;
	border: solid #36bac9 4px;
	text-decoration: none;
	box-shadow: 0 0 3pt 2pt #0e404c;
	margin: 4px;
}

button:hover {
	box-shadow: 0 0 3pt 2pt white;
	text-decoration: none;
	background: #1dbcfd;
	border: solid #41ecff 4px;
	background-image: -webkit-linear-gradient(top, #1dbcfd, #027cb3);
	background-image: -moz-linear-gradient(top, #1dbcfd, #027cb3);
	background-image: -ms-linear-gradient(top, #1dbcfd, #027cb3);
	background-image: -o-linear-gradient(top, #1dbcfd, #027cb3);
	background-image: linear-gradient(to bottom, #1dbcfd, #027cb3);
}
button:active {
	text-decoration: none;
	background: white;
	color: black;
	border: solid black 4px;
}

.thanks {
	color: white;
	font-family: 'Press Start 2P';
    position: absolute;
    bottom: 0px;
    right: 0px;
}
ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

li {
  padding-left: 1em;
  text-indent: -1em;
}

img.icon {
	width: 24px;
	height: 24px;
}

#bg-toggle {
  position: fixed;
  bottom: 44px;
  right: 8px;
}