@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);
body {
  background-color: #15a6c7;
  font-family:'Lato', sans-serif;
  overflow-x: hidden;
}
.app-wrapper {
  height: 100%;
  width: 100%;
}
.app-wrapper::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  background-image: url(https://s-media-cache-ak0.pinimg.com/originals/e4/e1/16/e4e11649ebd8e4acc7a0700d99cb90c9.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  /* opacity: 0.7; */
  /* filter: blur(5px); */
  /* transition: filter 1000ms linear; */
  z-index: -1;
}
.app-wrapper.svg::before {
  background-image: url(/images/bg.svg);
}
/* body * {
  display: none;
} */
header {
  box-shadow:
    0 2px 1px hsla(0, 0%, 100%, 0.5) inset,
    0 -2px 1px hsla(250, 70%, 5%, 0.3) inset,
    0 -2px 6px hsla(0, 0%, 100%, 0.25);
  backdrop-filter: blur(2px) brightness(140%);
  padding: 15px;
}
header * {
  margin: 0 15px;
}
footer {
  position: fixed;
  bottom: 44px;
  right: 8px;
}
.wrap {
  top: 60px;
  right: 140px;
  position: absolute;
  perspective: 1200px;
  font-family:'Lato', sans-serif;
  /*perspective: 1200px;*/
}
.book {
  transition: transform 500ms ease-in-out;
}
.book.out {
  transform: translateX(240px);
}
.book .clickable {
  cursor: pointer;
}
.book .copy-content {
  cursor: help;
}
.card {
  position: absolute;
  color: white;
  top: 50px; left: 0; right: 0;
  margin: auto;
  width: 20px;
  transform-style: preserve-3d;
  transition: all 2s;
  /*transform: rotateY(180deg) rotateX(0deg);*/
  /*animation: putbackonlibrary 1s forwards;*/
  /*unselectable*/
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}
.card.viewfront {
  transform: rotateY(90deg);
}
.card.viewback {
  transition: all 0.5s;
  transform: rotateY(270deg);
}
/* The animation code */
/*@keyframes takefromlibrary {/*
    0%   { transform: rotateY(180deg);}
    25%   { transform: rotateY(150deg);}
    100%   { transform: rotateY(90deg);}
}
@keyframes putbackonlibrary {
    0%   { transform: rotateY(90deg);}
    75%   { transform: rotateY(150deg);}
    100%   { transform: rotateY(180deg);}
}*/


/* The element to apply the animation to 
.card:hover {
    animation-name: takefromlibrary;
    animation-duration: 2s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}*/
.card div {
  position: absolute;
}
.back {
  transform: translateZ(-100px);
  background: #666;
  width: 20px;
  height: 300px;
  background: linear-gradient(to right,
    rgba(254,255,255,1) 0%,
    rgba(0,0,0,1) 10%,
    rgba(254,255,255,1) 20%,
    rgba(0,0,0,1) 30%,
    rgba(254,255,255,1) 40%,
    rgba(0,0,0,1) 50%,
    rgba(255,255,255,1) 60%,
    rgba(0,0,0,1) 70%,
    rgba(255,255,255,1) 80%,
    rgba(0,0,0,1) 90%,
    rgba(255,255,255,1) 100%);
}
.front {
  transform: translateZ(100px) translateX(-140px) translateY(140px) rotate(90deg);
  height: 20px;
  width: 300px;
  border: 1px solid #1f0000;
  background: #440000;
  /*background: linear-gradient(to right, rgba(254,255,255,1) 40%,rgba(0,0,0,1) 50%,rgba(255,255,255,1) 60%);*/
}
.side-text {
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  color: black;
  margin: auto;
  padding: 0px 0 0 8px;
}
.top {
  transform: rotateX(-90deg) translateY(-100px);
  transform-origin: top center;
  width: 20px;
  height: 200px;
  background: linear-gradient(
    to right, 
    rgba(254,255,255,1) 0%,
    rgba(0,0,0,1) 10%,
    rgba(254,255,255,1) 20%,
    rgba(0,0,0,1) 30%,
    rgba(254,255,255,1) 40%,
    rgba(0,0,0,1) 50%,
    rgba(255,255,255,1) 60%,
    rgba(0,0,0,1) 70%,
    rgba(255,255,255,1) 80%,
    rgba(0,0,0,1) 90%,
    rgba(255,255,255,1) 100%);

}
.bottom {
  transform: rotateX(90deg) translateY(100px);
  transform-origin: bottom center;
  width: 20px;
  height: 200px;
  top: 100px;
  background: linear-gradient(to right, rgba(254,255,255,1) 40%,rgba(0,0,0,1) 50%,rgba(255,255,255,1) 60%);
}

.right {
  left: -180px;
  transform: rotateY(-270deg) translateX(100px);
  transform-origin: top right;
  width: 200px;
  height: 300px;
  border: 1px solid #1f0000;
  background: #440000;
}
.logo {
  width: 80%;
  height: 100px;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
}
.logo i {
  display: block;
  font-size: 40px;
}
.bottomInfo {
  width: 90%;
  height: 100px;
  position: absolute;
  color: white;
  bottom: 10px; left: 0; right: 0; 
  margin: auto;
}
.bottomInfo ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.bottomInfo ul li {
  margin: 4px;
  font-size: 11px;
  text-align: center;
}
.bottomInfo ul li i {
  width: 20px;
  text-align: center;
  font-size: 12px;
}

.left {
  transform: rotateY(270deg) translateX(-100px);
  transform-origin: center left;
  width: 200px;
  height: 300px;
  border: 1px solid #1f0000;
  background: #440000;
  outline: 4px solid #1f0000;
  outline-offset: -10px;
}
.name {
  width: 80%;
  height: 30px;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 14px;
  text-align: center;
  line-height: 30px;
  position: absolute;
  top: 110px; left: 0; right: 0;
  margin: auto;
}
.prof {
  width: 80%;
  height: 30px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 10px;
  text-align: center;
  line-height: 30px;
  position: absolute;
  top: 140px; left: 0; right: 0;
  margin: auto;
}