<!doctype html>
<html lang="en">
	<head>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, viewport-fit=cover" name="viewport">

		<title>👾Portfolio</title>
		<link rel="stylesheet" href="main.css">
		<link rel="stylesheet" href="site.css">
		<link rel="shortcut icon" type="image/png" href="favicon.png"/>
		<script type="importmap">
			{
				"imports": {
          "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.prod.js"
				}
			}
		</script>
    <script type="module" src="scripts.js" defer></script>
	</head>
	<body id="app">
    <div class="app-wrapper" :class="{ svg: bgSvgMode }">
      <div id="loading">
        <p>Loading...</p>
      </div>
      <div class="main-content hidden">
        <header>
          <h1>Hi. My name is Mart&iacute;n A. Farias</h1>
          <p>Some projects...
          </p>
          <!-- <div id="menu"></div> -->
          <div class="menu">
            <nav class="dropdown-menu">
              <button @click="showDropdown = !showDropdown" class="dropdown-toggle">
                Menu ▼
              </button>
              <ul v-if="showDropdown" class="dropdown-list">
                <li><a href="#about-me" @click="selectTab('about-me')">About me</a></li>
                <li><a href="#projects" @click="selectTab('projects')">Projects</a></li>
                <li><a href="#contact" @click="selectTab('contact')">Contact</a></li>
              </ul>
            </nav>
           </div>
        </header>
        <section class="content">
          <ul v-if="selectedTab === 'projects'" class="projects">
            <li
              v-for="project in projects"
              :key="project.id"
            >
              <button
                :id="project.id"
                :title="project.title"
                @click="openWindow(project.url)"
              >{{ project.text }}</button>
            </li>
          </ul>
        </section>
      </div>	
        
      <footer>
        <!-- <button
          @click="bgSvgMode=!bgSvgMode"
          :title="bgSvgMode ? 'I couldn\' found the owner to give the credits :C' : 'Under construction hehe'"
          class="button-toggle"
        >
          {{ bgSvgMode ? 'BG: SVG' : 'BG: GIF' }}
        </button>
        <button
          @click="showBook=!showBook"
          class="button-toggle"
        >
          {{ (showBook ? 'hide' : 'show') + ' book' }}
        </button> -->
        <p class="thanks">Thank you for visiting my site!</p>
      </footer>
      <book :show="showBook"></book>

<!--       
      <button @click="count++">
        Count is: {{ count }}
      </button> -->
  <!-- 
      <element title="1"></element>

      <button-test></button-test> -->
    </div>
	</body>
  <script src="legacy.js"></script>
  <script>
    const intervalId = setInterval(() => {
      const mountPoint = document.getElementById('app');
      if (mountPoint && mountPoint.__vue_app__) {
        console.log('Vue app mounted successfully');
        const loadingElement = document.getElementById('loading');
        loadingElement.classList.add('hidden');
        const mainContent = document.querySelector('.main-content');
        mainContent.classList.remove('hidden'); 
        clearInterval(intervalId);
      }
    }, 100);
  </script>
</html>
