<!doctype html>
<html lang="en">
	<head>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, viewport-fit=cover" name="viewport">
    <meta charset="UTF-8">

		<title>Yu-Gi-Oh! Collection</title>
		<link rel="stylesheet" href="styles.css">
		<link rel="shortcut icon" type="image/png" href="favicon.png"/>

    <script type="importmap">
      {
        "imports": {
          "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.prod.js"
        }
      }
    </script>
    <script type="module">
      import { createApp, onMounted } from 'vue';
      import { getAPI } from '/modules/Tools.js';
      import cards from './cards.json' assert {type: 'json'};
      
      console.log(cards);
      createApp({
        components: {
        },
        methods: {
          check() {
            console.log(this);
          },
          selectCard( card ) {
            if( this.selectedCard === card )
              return;

            this.selectedCard = undefined;
            setTimeout(() => {
              this.selectedCard = card;
            }, 0);

            getAPI('yugiohprices.com/api/card_data/' + card.name)
              .then( ({ data }) => {
                console.log(data);
                this.selectedCardData = data;
                setTimeout(() => {
                  this.$refs.textRef.innerText = data.text;
                }, 0);
              } );
          },
        },
        // setup() {
        //   return {
        //     cardRef: ref([]),
        //     textRef: ref({})
        //   };
        // },
        mounted() {
          /* Options API */
          // getAPI(
          //   //'http://ip-api.com/json'
          //   'yugiohprices.com/api/get_card_prices/Raigeki',
          //   //'yugiohprices.com/api/price_for_print_tag/PSV-000',
          // )
          // .then( ({ data }) => {
          //   console.log(data);
          //   this._.setupState.cardRef.value = data;
          // } );
        },
        data() {
          return {
            bgSvgMode: false,
            showBook: window.innerWidth > 1200,
            cards: cards,
            selectedCard: undefined,
            selectedCardData: undefined
          }
        }
      }).mount('#app');
    </script>
	</head>
	<body id="app">
    <div class="layout" :class="{ svg: bgSvgMode }">
      <div class="layout-header" v-if="true">
        Welcome to my Yu-Gi-Oh! TCG Collection
      </div>

      <div class="layout-content">

        <fieldset class="card-list">
          <legend>Card list:</legend>
          <div class="card-item"
            v-for="card in cards"
            :key="card.name"
            :class="{ 'card-selected': card === selectedCard }"
            @click="selectCard(card)"
          >{{ card.name }}</div>
        </fieldset>

        <div class="card-image">
          <a href="https://static-7.studiobebop.net/ygo_data/card_images/Raigeki.jpg" target="_blank" title="open in a new window">
            <img src="https://static-7.studiobebop.net/ygo_data/card_images/Raigeki.jpg" />
          </a>
          <div class="card-image-info">*the image could not be the edition owned</div>
        </div>
        <div v-if="selectedCard" class="card-data">
          <div class="card-content-top">
            <div class="card-title bg-gray-gradient">
              {{ selectedCard.name }}
            </div>
            <div :class="{ ['card-attribute-' + selectedCardData.family]: true }" v-if="selectedCardData"></div>
          </div>
          <div class="card-content-middle" v-if="selectedCardData">
            <div class="card-level-rank bg-black">
              <div :class="{ 'card-level': !selectedCardData.type.includes('Xyz'), 'card-rank': !!selectedCardData.type.includes('Xyz') }" v-if="selectedCardData"></div>{{ selectedCardData.level }} CARD TYPE: {{ selectedCardData.card_type }} PRINT TAG: {{ selectedCard.print_tag }} RARITY: {{ selectedCard.rarity }}</div>
            </div>
            <div class="card-attack-defense">
              <div>ATK/{{ selectedCardData.atk }} DEF/{{ selectedCardData.def}}</div>
            </div>
          </div>
          <div class="card-content-bottom" v-if="selectedCardData">
            <div class="card-type bg-black">
              [{{ selectedCardData.type }}]
            </div>
            <div class="card-description">
              <!-- <div class="card-requirements">3 Level 6 LIGHT Machine-Type monsters</div> -->
              <div class="card-details" ref="textRef"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="layout-footer">
        <span>Thankks to <a href="https://www.deviantart.com/aaiki/art/Hi-Res-Yugioh-Attributes-836887394" target="_blank">aaiki</a> for the Hi-Res Attribute icons</span>
        <span>Thanks to <a href="http://yugiohprices.com" target="_blank">yugiohprices.com</a> for their amazing data source. &#128151;</span>
      </div>


      <table v-if="cardRef && cardRef.value">
        <thead>
          <tr>
            <th>Pack</th>
            <th>Tag</th>
            <th>Rarity</th>
          </tr>
        </thead>
        <tbody>
          <tr 
            v-for="cardData in cardRef.value"
            :key="cardData.name"
          >
            <td>{{ cardData.name }}</td>
            <td>{{ cardData.print_tag }}</td>
            <td>{{ cardData.rarity }}</td>
          </tr>
        </tbody>
      </table>
      <!-- <button
        @click="check()"
      >check</button> -->
    </div>
	</body>
</html>
