<!doctype html>
<html lang="en">
	<head>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, viewport-fit=cover" name="viewport">
    <meta charset="UTF-8">

		<title>Yu-Gi-Oh! Collection</title>
		<link rel="stylesheet" href="styles.css">
		<link rel="shortcut icon" type="image/png" href="favicon.png"/>

    <script type="importmap">
      {
        "imports": {
          "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.prod.js"
        }
      }
    </script>
    <script src="https://unpkg.com/react-query/dist/react-query.production.min.js"></script>
    <script type="module" src="scripts.js" defer></script>
	</head>
	<body id="app">
    <div class="layout">
      <div class="layout-header" v-if="true">
        Welcome to my Yu-Gi-Oh! TCG Collection
      </div>

      <div class="layout-content">

        <fieldset class="card-list">
          <legend>Card list:</legend>
          <div class="card-item"
            v-for="card in cards"
            :key="card.name"
            :class="{ 'card-selected': card === selectedCard }"
            @click="selectCard(card)"
          >
          <div class="card-name">{{ card.name }}</div>
          <div class="card-print-tag">{{ card.print_tag }}</div>
          <div :class="{ ['card-rarity--'+card.rarity.toLowerCase()]: true }">{{ card.rarity }}</div>
        </div>
        </fieldset>

        <div v-if="selectedCard" class="card-image">
          <a :href="cardImageIsLoading ? './assets/img/card-back.png' : selectedCardImage" target="_blank" title="open in a new window">
            <img :src="cardImageIsLoading ? './assets/img/card-back.png' : selectedCardImage" />
          </a>
          <div class="card-image-info">*the image could not be the edition owned</div>
        </div>
        <div v-if="selectedCard" class="card-data" :class="{ ['card-type-'+getBGByType(selectedCardData)]: true }">
          <div class="card-content-top">
            <div class="card-title card-background-by-type">
              {{ selectedCard.name }}
            </div>
            <div :class="{ ['card-attribute-' + selectedCardAttribute]: true }" v-if="selectedCardData"></div>
          </div>
          <div class="card-content-middle" v-if="selectedCardData">
            <div class="card-info bg-black">
              <template v-if="showLevelOrRank">
                <div :class="{ ['card-level-'+getLevelOrRank( selectedCardData )]: true }"></div>
                <div class="card-level-value">{{ selectedCardData.level }}</div>
              </template>
              <div class="card-spell-type" v-if="selectedCardData.type.includes('Spell')">
                {{ selectedCardData.race }} Spell
              </div>
              <div class="card-trap-type" v-if="selectedCardData.type.includes('Trap')">
                {{ selectedCardData.race }} Trap
              </div>
            </div>
            <div class="card-subtitle-base card-background-by-type"></div>
            <div class="card-attack-defense-link" v-if="selectedCardData.type.includes('Monster')">
              <span>ATK/{{ selectedCardData.atk }}</span>
              <span v-if="!isLinkMonster">DEF/{{ selectedCardData.def }}</span>
              <span v-if="isLinkMonster">LINK-{{ selectedCardData.linkval }}</span>
            </div>
          </div>
          <div class="card-content-bottom" v-if="selectedCardData">
            <div class="card-type bg-black" v-if="selectedCardData.type.includes('Monster')">
              [{{ selectedCardData.type }}]
            </div>
            <div class="card-subtitle-base card-background-by-type" v-if="selectedCardData.type.includes('Monster')"></div>
            <div class="card-description">
              <!-- <div class="card-requirements">3 Level 6 LIGHT Machine-Type monsters</div> -->
              <div class="card-details" v-html="selectedCardDesc"></div>
            </div>
          </div>
        </div>
        <div v-if="selectedCard && selectedCardPrices" class="card-prices">
          <span>Prices:</span>
          <!-- <span>Owned: {{ selectedCard.print_tag }}</span>
          <div class="card-price-item card-owned-price"
            v-if="ownedPrices"
          >
            <div>{{ ownedPrices.name }}</div><div>({{ ownedPrices.print_tag }})</div><div>[{{ ownedPrices.rarity }}]</div>
            <div>AVERAGE: {{ ownedPrices.price_data.data?.prices.average }} HIGH: {{ ownedPrices.price_data.data?.prices.high }} LOW: {{ ownedPrices.price_data.data?.prices.low }} </div>
          </div> -->
          <div class="card-price-item">
            <div>Card Market</div>
            <div>AVERAGE: {{ selectedCardPrices.cardmarket_price }} u$d</div>
          </div>
          <div class="card-price-item">
            <div>TCG Player</div>
            <div>AVERAGE: {{ selectedCardPrices.tcgplayer_price }} u$d</div>
          </div>
          <div class="card-price-item">
            <div>Ebay</div>
            <div>AVERAGE: {{ selectedCardPrices.ebay_price }} u$d</div>
          </div>
          <div class="card-price-item">
            <div>Amazon</div>
            <div>AVERAGE: {{ selectedCardPrices.amazon_price }} u$d</div>
          </div>
          <div class="card-price-item">
            <div>Cool Stuff inc.</div>
            <div>AVERAGE: {{ selectedCardPrices.coolstuffinc_price }} u$d</div>
          </div>
        </div>
      </div>
      <div class="layout-footer">
        <span v-if="!showCredits" @click="showCredits=true">Tap to watch the credits</span>
        <span v-if="showCredits">Thankks to <a href="https://www.deviantart.com/aaiki/art/Hi-Res-Yugioh-Attributes-836887394" target="_blank">aaiki</a> for the Hi-Res Attribute icons.</span>
        <span v-if="showCredits">Thanks to <a href="http://yugiohprices.com" target="_blank">ygoprodeck.com</a> for their amazing data source. &#128151;</span>
      </div>
    </div>
	</body>
</html>
