/* font source/notes: https://www.cardmaker.net/forums/topic/308603-fonts-for-yu-gi-oh-card-making-with-multilingual-support/*/
@font-face {
  font-family: "YGO Names";
  src: url(./assets/fonts/Yu-Gi-Oh!\ Matrix\ Regular\ Small\ Caps\ 1.ttf) format("truetype");
}
@font-face {
  font-family: "YGO Names (Old)";
  src: url(./assets/fonts/Yu-Gi-Oh!\ Matrix\ Regular\ Small\ Caps\ 2.ttf) format("truetype");
}
@font-face {
  font-family: "YGO Effect Texts";
  src: url(./assets/fonts/Yu-Gi-Oh!\ Matrix\ Book.ttf) format("truetype");
}
@font-face {
  font-family: "YGO Attributes, Types, Spell and Trap";
  src: url(./assets/fonts/Yu-Gi-Oh!\ ITC\ Stone\ Serif\ Small\ Caps\ Bold.ttf) format("truetype");
}
@font-face {
  font-family: "YGO Normal Monster Lore";
  src: url(./assets/fonts/Yu-Gi-Oh!\ ITC\ Stone\ Serif\ LT\ Italic.ttf) format("truetype");
}
@font-face {
  font-family: "YGO First or Unlimited Edition";
  src: url(./assets/fonts/Stone\ Serif\ Semibold.ttf) format("truetype");
}
:root {
  --corner-color: #adadad;
  --corner-size: 2.5px;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

body {
  position: absolute;
  font-family: "YGO Effect Texts";
  height: 100%;
  width: 100%;
  margin: 0;
  color: white;
  background: url(./assets/img/xyz-bg.png) 0 0 repeat;
  background-size: cover;
}

a {
  color: #ad93ff;
  /* text-decoration: none; */
}

table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead tr {
  background-color: #ffc36d;
  color: #ffffff;
  text-align: left;
}

th, td {
  padding: 12px 15px;
}

tbody tr {
  border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

tbody tr:last-of-type {
  border-bottom: 2px solid #f1c179;
}


.card-list {
  overflow-y: auto;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #090909d4;
}
.card-list .card-item {
  color: black;
  border: 1px solid #c8c8c8;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.5);
  background-color: #fffae1;
  cursor: pointer;
  user-select: none;
  transition: transform 100ms linear, box-shadow 100ms linear;
}
.card-list .card-item:hover {
  box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.7);
  transform: translate(-2px, -2px);
}
.card-list .card-item:not(.card-selected):active {
  color: white;
  background-color: black;
  box-shadow: initial;
  transform: initial;
}
.card-list .card-item.card-selected {
  background-color: white;
  box-shadow: initial;
  transform: initial;
  border: 1px solid #999999;
}

.card-image-info {
  font-size: 12px;
}

.card-data {
  flex-grow: 1;
  display: flex;
  gap: 10px;
  flex-direction: column;
  animation: fadeIn 500ms;
}

[class^="card-content"]:last-child {
  flex-grow: 1;
}
[class^="card-content"]::after {
  content: "";
  position: absolute;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  background: linear-gradient(to right, var(--corner-color) var(--corner-size), transparent var(--corner-size)) 0 0,
              linear-gradient(to right, var(--corner-color) var(--corner-size), transparent var(--corner-size)) 0 100%,
              linear-gradient(to left, var(--corner-color) var(--corner-size), transparent var(--corner-size)) 100% 0, 
              linear-gradient(to left, var(--corner-color) var(--corner-size), transparent var(--corner-size)) 100% 100%, 
              linear-gradient(to bottom, var(--corner-color) var(--corner-size), transparent var(--corner-size)) 0 0, 
              linear-gradient(to bottom, var(--corner-color) var(--corner-size), transparent var(--corner-size)) 100% 0, 
              linear-gradient(to top, var(--corner-color) var(--corner-size), transparent var(--corner-size)) 0 100%, 
              linear-gradient(to top, var(--corner-color) var(--corner-size), transparent var(--corner-size)) 100% 100%;
  background-repeat: no-repeat;
  background-size: 12px 12px;
  pointer-events: none;
}

[class^="card-content"] {
  position: relative;
  padding: 16px;
  border: 1px solid #959595;
  background-color: #090909d4;
}

.card-details {
  position: fixed;
  padding: 0 40px 0 0;
}

/* .card-requirements {
  margin: 10px 0;
} */

.card-type {
  font-family: "YGO Attributes, Types, Spell and Trap";
}

.card-title {
  font-family: "YGO Names";
  font-size: 28px;
}
.card-title, .card-level-rank, .card-type {
  padding: 5px;
}

.card-level, .card-rank {
  width: 24px;
  height: 24px;
  background-size: 24px;
  display: inline-block;
}
.card-level {
  background-image: url(./assets/img/Level_Star.svg);
}
.card-rank {
  background-image: url(./assets/img/Rank_Star.svg);
}

[class^="card-attribute-"] {
  background-image: url(./assets/img/attributes.png);
  width: 30px;
  height: 30px;
  background-size: 90px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  z-index: 1;
  transition: transform 1s, z-index 1s;
}
[class^="card-attribute-"]:hover {
  transform: scale(10) translate(-12px, 12px);
}
.card-attribute-wind {
  background-position: 0px 0px;
}
.card-attribute-water {
  background-position: 0px 30px;
}
.card-attribute-earth {
  background-position: 0px 60px;
}
.card-attribute-fire {
  background-position: 30px 0px;
}
.card-attribute-dark {
  background-position: 30px 30px;
}
.card-attribute-light {
  background-position: 30px 60px;
}
.card-attribute-divine {
  background-position: 60px 0px;
}
.card-attribute-spell {
  background-position: 60px 30px;
}
.card-attribute-trap {
  background-position: 60px 60px;
}

.bg-black {
  background-color: black;
}
.bg-gray-gradient {
  background: linear-gradient(to right, black, #575757a3) 0 0, 
              linear-gradient(to bottom, #a3a3a3, #00000042) 0 0, 
              linear-gradient(to top, #bdbdbd, #000000) 0 0;
}

.layout {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: calc(100% - 20px);
  padding: 10px;
}

.layout-header {
  font-family: "YGO Names";
  font-size: 42px;
  text-align: center;
  padding: 10px;
  backdrop-filter: blur(2px) brightness(1000%);
  background-color: #000000b8;
}

.layout-content {
  overflow: auto;
  flex-grow: 1;
  display: flex;
  gap: 10px;
  padding: 10px;
}

.layout-footer {
  display: flex;
  font-family: "YGO Names";
  text-align: center;
  padding: 10px;
  background-color: #8080801c;
  border-radius: 8px;
}

.layout-footer > * {
  flex: 1;
}


@media screen and (max-width: 600px) {
  .layout-menu, .layout-content {
    width: 100%;
  }
}