body {
  font-family: Inter, sans-serif;
  background: #09090b;
  margin: 0;
}
@media (prefers-color-scheme: dark) {
  body {
    header {
      background-color: #303030 !important;
    }

    .active {
      background-color: #919191 !important;
      color: #bababa;
    }

    footer {
      background-color: #5d5d5d !important;
    }
  }
}

.hidden {
	display: none !important;
}

#loading {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 9999;
	display: flex;
  flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	// font-family: 'Press Start 2P', cursive;
	font-size: 24px;

  animation: grayPulse 2s ease-in-out infinite;
  /* ensure the filter animates smoothly */
  will-change: transform, filter;
}

.spinner-container {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.spinner {
  position: relative;
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  background-image: url('./spinner.png');
  background-position: center;
  background-size: 18rem;
  animation: spin 1.2s linear infinite;
}

.box {
  color: white;
}

.inline-block {
  display: inline-block !important;
}
  /* keyframes to pulse grayscale (gray scale emphasis) */
@keyframes grayPulse {
  0%   { filter: grayscale(1) brightness(0.2); }
  50%  { filter: grayscale(0.1) brightness(1.08); }
  100% { filter: grayscale(1) brightness(0.2); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}