@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

* {
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  color: white;
}

input {
  color: black;
}

body {
  background: url(./img/hld.gif) repeat center center fixed;
  background-size: cover;
}

button {
  border: none;
  text-decoration: none;
  display: inline-block;
  width: 140px !important;
}

button:disabled {
  color: #848484;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  display: inline-block;
  padding: 14px;
  cursor: pointer;
  width: 13%;
  text-align: center;
  margin: 12px;
  box-shadow: -8px 0 0 0 black,
               8px 0 0 0 black,
               0 -8px 0 0 black,
               0 8px 0 0 black;
}

.custom-file-upload:active {
  color: gray;
}

.loaded {
  background-color: #aaeeaa;
  color: black;
}

.hidden {
  display: none;
}