<!doctype html>
<html lang="en">
	<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5.0, minimum-scale=1, user-scalable=yes"/>
    <meta charset="UTF-8">

		<title>日本語 メモ</title>
		<link rel="stylesheet" href="styles.css">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap" rel="stylesheet">
    <script type="importmap">
      {
        "imports": {
          "vue": "/vue.esm-browser.prod.js"
        }
      }
    </script>
    <!-- "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.prod.js" -->
    <script type="module" src="scripts.js" defer></script>
	</head>
	<body id="app" class="index">
    <header>
      <div class="title">
        <ruby>万灯<rp>(</rp><rt>マンドー</rt><rp>)</rp></ruby>の日本語のメモ
      </div>
      <ul class="menu-open menu-index" v-if="showMenu">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#" @click.prevent="showDialog('dialog-kana')">Hiragana and Katakana</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">COMMON PHRASES 〠</a></li>
        <li><a href="#" @click.prevent="goTo('translation')">小説 ベルセルク： 炎竜の騎士</a></li>
      </ul>
      <div class="icon-menu" @click="showMenu=!showMenu">
      </div>
    </header>

    <div id="loading">
      <p>Loading...</p>
    </div>

    <main class="hidden">
      <article
        v-for="([main, eng, refs], index) in articles" :key="index"
      >
        <span class="main">
          <phrase-to-ruby :text="main">
        </span>
        <button
          v-if="voiceActive"
          @click="speak(main)"
        >🗣️</button>
        <br />
        <span class="eng" @click="showRefsDialog(refs)">{{ eng }}</span>
      </article>
    </main>
    <footer>
      <div class="actions">
        <button
          class="voice-active"
          title="voice"
          @click="voiceActive=!voiceActive"
        >
        <span aria-hidden="true">{{ voiceActive ? "🗣️" : "🔇" }}</span>
      </button>
      </div>
    </footer>

    <dialog id="dialog-refs" @click="closeDialog('dialog-refs')">
      <h2>References:</h2>
      <div class="content">
      </div>
    </dialog>

    <dialog id="dialog-kana">
      <button class="close-btn" @click="closeDialog('dialog-kana')" aria-label="Close">&times;</button>
        
      <div class="tables">
        <div>
          <h2>Hiragana</h2>
          <div class="content">
            <table class="hiragana-table">
              <tr>
                <td>あ</td><td>い</td><td>う</td><td>え</td><td>お</td>
              </tr>
              <tr>
                <td>か</td><td>き</td><td>く</td><td>け</td><td>こ</td>
              </tr>
              <tr>
                <td>さ</td><td>し</td><td>す</td><td>せ</td><td>そ</td>
              </tr>
              <tr>
                <td>た</td><td>ち</td><td>つ</td><td>て</td><td>と</td>
              </tr>
              <tr>
                <td>な</td><td>に</td><td>ぬ</td><td>ね</td><td>の</td>
              </tr>
              <tr>
                <td>は</td><td>ひ</td><td>ふ</td><td>へ</td><td>ほ</td>
              </tr>
              <tr>
                <td>ま</td><td>み</td><td>む</td><td>め</td><td>も</td>
              </tr>
              <tr>
                <td>や</td><td></td><td>ゆ</td><td></td><td>よ</td>
              </tr>
              <tr>
                <td>ら</td><td>り</td><td>る</td><td>れ</td><td>ろ</td>
              </tr>
              <tr>
                <td>わ</td><td></td><td>を</td><td></td><td>ん</td>
              </tr>
            </table>
          </div>
        </div>

        <div>
          <h2>Katakana</h2>
          <div class="content">
            <table class="katakana-table">
              <tr>
            <td>ア</td><td>イ</td><td>ウ</td><td>エ</td><td>オ</td>
              </tr>
              <tr>
            <td>カ</td><td>キ</td><td>ク</td><td>ケ</td><td>コ</td>
              </tr>
              <tr>
            <td>サ</td><td>シ</td><td>ス</td><td>セ</td><td>ソ</td>
              </tr>
              <tr>
            <td>タ</td><td>チ</td><td>ツ</td><td>テ</td><td>ト</td>
              </tr>
              <tr>
            <td>ナ</td><td>ニ</td><td>ヌ</td><td>ネ</td><td>ノ</td>
              </tr>
              <tr>
            <td>ハ</td><td>ヒ</td><td>フ</td><td>ヘ</td><td>ホ</td>
              </tr>
              <tr>
            <td>マ</td><td>ミ</td><td>ム</td><td>メ</td><td>モ</td>
              </tr>
              <tr>
            <td>ヤ</td><td></td><td>ユ</td><td></td><td>ヨ</td>
              </tr>
              <tr>
            <td>ラ</td><td>リ</td><td>ル</td><td>レ</td><td>ロ</td>
              </tr>
              <tr>
            <td>ワ</td><td></td><td>ヲ</td><td></td><td>ン</td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <p>Hiragana and Katakana are two of the three main scripts used in Japanese writing. Hiragana is used for native Japanese words, while Katakana is typically used for foreign words and names.</p>
    </dialog>
	</body>
  <script>
    const intervalId = setInterval(() => {
      const mountPoint = document.getElementById('app');
      if (mountPoint && mountPoint.__vue_app__) {
        console.log('Vue app mounted successfully');
        
        const loadingElement = document.getElementById('loading');
        loadingElement.classList.add('hidden');

        for (const selector of ['main']) {
          const mainContent = document.querySelector(selector);
          mainContent.classList.remove('hidden'); 
        }
        clearInterval(intervalId);
      }
    }, 100);
  </script>
</html>
