body {
  font-family: "M PLUS 1p", sans-serif;
  margin: 0;

  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f0f0f0;
    padding: 1rem 0 0 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    
    .title {
      margin-bottom: 1rem;
    }
  }

  main {
    transition: margin 1s;
    margin-top: 4rem;
    padding-bottom: 2rem;
    
    gap: .5rem;
    display: flex;
    flex-direction: column;

    &.menuOpen {
      margin-top: 13rem;
    }

    article {
      display: flex;
      flex-direction: column;
      
      gap: .5rem;
      padding: 3px;
      outline: 1px solid gray;
    }
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f0f0f0;
    text-align: center;
    padding: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}

.icon-menu {
  position: fixed;
  right: 1rem;
  top: 1rem;
  height: 32px;
  width: 32px;
  cursor: pointer;
  background-image: url(./images/sushi.svg);

  &:hover {
    filter: drop-shadow(1px 3px 2px black);
  }

  .open {
    filter: grayscale(1);
  }
}

.menu-index {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  li {
    margin-bottom: 10px;

    a {
      text-decoration: none;
      color: #337ab7;
      transition: color 0.2s ease;

      &:hover {
        color: #23527c;
      }
    }

    &.active a {
      color: #23527c;
    }
  }
}

#dialog-kana {
  .tables {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    font-size: x-large;

    td {
      outline: 1px solid;
      padding: 0 3px;
    }
  }
}

.index main {
  margin: 4px;
}

.berserk-novel {
  main {
    position: absolute;
    height: calc(100% - 4rem - 32px);
    width: 100%;
    
    article {
      flex: 1;

      h1.title {
        font-size: 2rem;
      }

      &.main {
        justify-content: center;
      }
      .translation {
        font-size: 1rem;
        line-height: 1.5;
      }
    }
    .title,
    .subtitle {
      text-align: center;
    }

    .page-number {
      position: absolute;
      right: 1rem;
      top: 1rem;
    }

    .actions {
      display: flex;
      justify-content: space-between;
      padding: 0 1rem;

      button {
        padding: 1rem;
        cursor: pointer;
      }

      .lang-actions {
        display: flex;
        gap: 1rem;

        .active {
          background-color: #f0f0f0;
          border: 1px solid #ccc;
        }
      }
    }
  }

  .disclaimer {
    text-align: center;
  } 
}