body {
  background-color: Canvas;
  color: CanvasText;
  color-scheme: light dark;
}
@media (prefers-color-scheme: dark) {
  body {
    header {
      background-color: #303030 !important;
    }

    .active {
      background-color: #919191 !important;
      color: #bababa;
    }
  }
}

.hidden {
	display: none !important;
}

#loading {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	// font-family: 'Press Start 2P', cursive;
	font-size: 24px;
}

body {
  // font-family: "M PLUS 1p", sans-serif;
  font-family: Meiryo;
  margin: 0;


  &:has(.menu-open) main {
    margin-top: 17rem;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 1.3rem 0 0 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f0f0f0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    
    &:not(:has(> ul)) {
      height: 2.7rem;
    }

    > .title {
      margin-bottom: 1.2rem;
    }
  }

  &.index main {
    padding: .5rem;
    padding-bottom: 2.5rem;
  }

  main {
    transition: margin 1s;
    margin-top: 4rem;
    
    gap: .5rem;
    display: flex;
    flex-direction: column;

    article {
      display: flex;
      flex-direction: column;
      
      gap: .5rem;
      padding: 3px;
      outline: 1px solid gray;

      
      dialog {
        text-align: center;
        text-indent: 0;

        ul.kanji-meaning {
          writing-mode: horizontal-tb;
          list-style: none;
          margin: 0;
          padding: 0;
          display: flex;
          justify-content: center;

          li:last-child::after {
            display: none;
          }
        }
      }

      &:not(.tategaki) ul.kanji-meaning {

        li ~ li {
          border-left: 1px solid;
          padding-left: .2rem;
          margin-left: .2rem;
        }
      }
    }
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f0f0f0;
    text-align: center;
    padding: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}

.icon-menu {
  position: fixed;
  right: 1rem;
  top: 1rem;
  height: 32px;
  width: 32px;
  cursor: pointer;
  background-image: url(./images/sushi.svg);

  &:hover {
    filter: drop-shadow(1px 3px 2px black);
  }

  .open {
    filter: grayscale(1);
  }
}

.menu-index {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 2rem;

  li {
    margin-bottom: 10px;

    a {
      text-decoration: none;
      color: #337ab7;
      transition: color 0.2s ease;

      &:hover {
        color: #23527c;
      }
    }

    &.active a {
      color: #23527c;
    }
  }
}

#dialog-kana {
  .tables {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    font-size: x-large;

    td {
      outline: 1px solid;
      padding: 0 3px;
    }
  }
}

.berserk-novel {
  header {
    .title {
      display: flex;
      justify-content: space-between;
      padding-right: 5rem;

      .page-info {
        display: flex;
        gap: 1rem;
        
        .chapter {
          border-bottom: 1px solid;
          padding-left: 2rem;
        }
      }
    }
  }
  main {
    position: absolute;
    height: calc(100% - 4rem - 8px);
    width: 100%;
    
    article {
      overflow: auto;
      flex: 1;

      .title {
        font-size: 2rem;
      }

      .title,
      .subtitle {
        text-align: center;
      }

      .page-number {
        position: absolute;
        right: 1rem;
        top: 1rem;
      }

      .translation {
        font-size: 1rem;
        line-height: 1.5;
      }

      .open-dialog {
        cursor: pointer;
      }
      
      .kanji-details {
        /* font-family: 'ＭＳ Ｐゴシック'; */
        /* font-family: 'MS PGothic'; */
        /* font-family: 'メイリオ'; */
        /* font-family: Meiryo, sans-serif; */
        /* font-family: Hiragino Kaku Gothic Pro; */
        /* font-family: "ヒラギノ角ゴ ProN W3"; */
        /* font-family: "HiraKakuProN-W3"; */
        /* font-family: 'Droid Sans Japanese'; */
        /* font-family: 'TakaoExゴシック'; */
        /* font-family: '游ゴシック体'; */
        // font-family: 'Yu Gothic';
        font-family: "Zen Antique Soft", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 3rem;
        line-height: 3rem;
        margin: 2rem 0;
      }

      &.main {
        justify-content: center;
        align-items: center;
      }

      &.index {
        ul {
          list-style: none;
          padding-left: 1rem;
          width: calc(100% - 1rem);

          .index-item {
            cursor: pointer;
            width: max-content;
          }
        }
      }

      &.content {
        overflow: auto;
        padding: 1rem;

        .chapter-title {
          position: static;
          font-weight: bold;
          font-size: larger;
          white-space: nowrap;
        }

        .chapter-number {
          padding: 1rem;
        }

        &:not(.tategaki) {
          .chapter-title {
            border-bottom: 1px solid;
            padding: 0 3rem 0 1rem;
            width: auto;
          }

          &:has(.chapter-title) {
            > .phrase {
              margin-top: 2rem;
              
              ~ .phrase {
                margin-top: unset;
              }
            }
          }
        }

        &.tategaki {
          padding: .5rem 1rem;
          writing-mode: vertical-rl;
          text-orientation: upright;
          
          .chapter-title {
            border-right: 1px solid;
            height: fit-content;
            padding-bottom: 4rem;
          }

          &:has(.chapter-title) {
            > .phrase {
              margin-right: 2rem;

              ~ .phrase {
                margin-right: unset;
              }
            }
          }

          .kanji-details {
            margin: 0 1rem;
          }
          
          .kanji-meaning {
            flex-direction: column;
            height: 100%;
            
            li ~ li {
              border-top: 1px solid;
              padding-top: .2rem;
              margin-top: .2rem;
            }
          }
          
        }

        > div.phrase {
          line-height: 28px;

          text-indent: 1rem;
        }
      }

      &.unknown {
        align-items: center;
        
        button {
          
          width: max-content;
        }
      }
    }
    
    .actions {
      display: flex;
      justify-content: space-between;
      padding: 0 1rem;
      align-items: center;
      gap: 1rem;

      button {
        padding: 1rem;
        cursor: pointer;
      }

      .zoom-level {
        flex: 1;
        display: flex;

        input {
          flex: 1;
        }
      }
      .lang-actions {
        display: flex;
        // gap: 1rem;

        .active {
          background-color: #f0f0f0;
          border: 1px solid #ccc;
        }
      }
    }
  }

  .disclaimer {
    text-align: center;
  } 
}

@media (max-width: 420px) {
  .tategaki-button {
    writing-mode: vertical-rl;
  }
}