body {
  font-family: "M PLUS 1p", sans-serif;
  margin: 0;

  header {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 1.3rem 0 0 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f0f0f0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    
    &:not(:has(> ul)) {
      height: 2.7rem;
    }

    > .title {
      margin-bottom: 1.2rem;
    }
  }

  &.index main {
    padding: .5rem;
    padding-bottom: 2.5rem;
  }

  main {
    transition: margin 1s;
    margin-top: 4rem;
    
    gap: .5rem;
    display: flex;
    flex-direction: column;

    &.menuOpen {
      margin-top: 17rem;
    }

    article {
      display: flex;
      flex-direction: column;
      
      gap: .5rem;
      padding: 3px;
      outline: 1px solid gray;

      
      dialog {
        text-align: center;
        text-indent: 0;

        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          display: flex;
          gap: 10px;
          justify-content: center;

          li::after {
            content: "|";
            float: right;
            padding-left: 10px;
          }
          
          li:last-child::after {
            display: none;
          }
        }
      }
    }
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f0f0f0;
    text-align: center;
    padding: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}

.icon-menu {
  position: fixed;
  right: 1rem;
  top: 1rem;
  height: 32px;
  width: 32px;
  cursor: pointer;
  background-image: url(./images/sushi.svg);

  &:hover {
    filter: drop-shadow(1px 3px 2px black);
  }

  .open {
    filter: grayscale(1);
  }
}

.menu-index {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 2rem;

  li {
    margin-bottom: 10px;

    a {
      text-decoration: none;
      color: #337ab7;
      transition: color 0.2s ease;

      &:hover {
        color: #23527c;
      }
    }

    &.active a {
      color: #23527c;
    }
  }
}

#dialog-kana {
  .tables {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    font-size: x-large;

    td {
      outline: 1px solid;
      padding: 0 3px;
    }
  }
}

.berserk-novel {
  header {
    .title {
      display: flex;
      justify-content: space-between;
      padding-right: 5rem;

      .page-info {
        display: flex;
        gap: 1rem;
        
        .chapter {
          border-bottom: 1px solid;
          padding-left: 2rem;
        }
      }
    }
  }
  main {
    position: absolute;
    height: calc(100% - 4rem - 8px);
    width: 100%;
    
    article {
      flex: 1;

      .title {
        font-size: 2rem;
      }

      .title,
      .subtitle {
        text-align: center;
      }

      .page-number {
        position: absolute;
        right: 1rem;
        top: 1rem;
      }

      .translation {
        font-size: 1rem;
        line-height: 1.5;
      }

      .open-dialog {
        cursor: pointer;
      }

      &.tategaki {
        writing-mode: vertical-rl;
        text-orientation: upright;
      }
      
      &.main {
        justify-content: center;
        align-items: center;
      }

      &.index {
        ul {
          list-style: none;
          padding-left: 1rem;
          width: calc(100% - 1rem);

          .index-item {
            cursor: pointer;
            width: max-content;
          }
        }
      }

      &.content {
        overflow: auto;
        padding: 1rem;

        .chapter-title {
          position: fixed;
          font-weight: bold;
          font-size: larger;
        }

        &:not(.tategaki) {
          .chapter-title {
            border-bottom: 1px solid;
            padding-left: 3rem;
            left: 0;
          }

          &:has(.chapter-title) {
            > .phrase {
              margin-top: 4rem;
              
              ~ .phrase {
                margin-top: unset;
              }
            }
          }
        }
        &.tategaki {
          padding: 1rem 3rem;
          
          .chapter-title {
            border-right: 1px solid;
            padding-top: 5rem;
            top: 0;
          }

          &:has(.chapter-title) {
            > .phrase {
              margin-right: 4rem;

              ~ .phrase {
                margin-right: unset;
              }
            }
          }
        }

        > div.phrase {
          line-height: 28px;

          text-indent: 1rem;
        }
      }

      &.unknown {
        align-items: center;
        
        button {
          
          width: max-content;
        }
      }
    }
    
    .actions {
      display: flex;
      justify-content: space-between;
      padding: 0 1rem;

      button {
        padding: 1rem;
        cursor: pointer;
      }

      .lang-actions {
        display: flex;
        // gap: 1rem;

        .active {
          background-color: #f0f0f0;
          border: 1px solid #ccc;
        }
      }
    }
  }

  .disclaimer {
    text-align: center;
  } 
}