<!doctype html>
<html lang="en">
	<head>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, viewport-fit=cover" name="viewport">
    <meta charset="UTF-8">

		<title>日本語 メモ - 小説 ベルセルク： 炎竜の騎士</title>
		<link rel="stylesheet" href="styles.css">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap" rel="stylesheet">
    <script type="importmap">
      {
        "imports": {
          "vue": "/vue.esm-browser.prod.js"
        }
      }
    </script>
    <!-- "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.prod.js" -->
    <script type="module" src="scripts.js" defer></script>
	</head>
	<body id="app" class="berserk-novel">
    <header>
      <div class="title">
        <ruby>万灯<rp>(</rp><rt>マンドー</rt><rp>)</rp></ruby>の日本語のメモ - 小説 ベルセルク
      </div>
      <ul class="menu-index" v-if="showMenu">
        <li><a href="#" @click.prevent="goTo('./')">Go back</a></li>
      </ul>
      <div class="icon-menu" @click="showMenu=!showMenu">
      </div>
    </header>

    <main>
      <template v-if="type === 'unknown'">
        <article class="unknown">
          <h1 class="title">Unknown Page</h1>
          <h2 class="subtitle">This page is not available.</h2>
          <button class="go-back" @click.prevent="goToIndex()">Go back to Index</button>
          <div class="page-number">{{ pageSelected }}</div>
        </article>
      </template>
      
      <template v-if="type === 'main'">
        <article
          :class="{ 'tategaki': writingDirection === 'tategaki', 'main': true }"
        >
          <h1 class="title">
            <phrase-to-ruby :text="title"></phrase-to-ruby>
            <template v-if="showTranslation">
              <br />
              <span class="translation">{{ page[lang]?.title }}</span>
            </template>
          </h1>
          <h2 class="subtitle">
            <phrase-to-ruby :text="subtitle"></phrase-to-ruby>
            <template v-if="showTranslation">
              <br />
              <span class="translation">{{ page[lang]?.subtitle }}</span>
            </template>
          </h2>
          <div class="page-number" v-if="showPageNumber">{{ pageSelected }}</div>
        </article>
      </template>

      <template v-if="type === 'index'">
        <article class="index">
          <h1 class="title">{{ title }}</h1>
          <h2 class="subtitle">
            <phrase-to-ruby :text="subtitle"></phrase-to-ruby>
          </h2>
          <ul>
            <li v-for="([name, pageNum], index) in chapters" :key="index"
              class="index-item"
              @click="pageSelected = pageNum"
            >
              {{ name }}..........{{ pageNum }}
            </li>
          </ul>
          <ul class="index-footer">
            <li v-for="(text, index) in footer" :key="index">
              {{ text }}
            </li>
          </ul>
          <div class="page-number" v-if="showPageNumber">{{ pageSelected }}</div>
        </article>
      </template>

      <template v-if="!type">
        <article
          :class="{ 'tategaki': writingDirection === 'tategaki', 'content': true }"
        >
          <template v-for="(line, index) in content" :key="index">
            <br v-if="line === ''" />
            <div><phrase-to-ruby :text="line"></phrase-to-ruby></div>
            <template v-if="showTranslation && line !== ''">
              <span class="translation">{{ page[lang][index] }}</span>
            </template>
          </template>
          <div class="page-number" v-if="showPageNumber">{{ pageSelected }}</div>
        </article>
      </template>
      
      <div class="actions">
        <button class="next-page" title="つぎ"
          :disabled="last"
          @click="pageSelected+=1"
        >&#8592; 次</button>
        <div class="lang-actions">
          <button
            class="lang-icon"
            :title="showTranslation ? 'Turn off translation' : 'Turn on translation'"
            @click="showTranslation = !showTranslation; writingDirection = 'yokogaki';"
          >&#127760; {{ showTranslation ? 'on' : 'off' }}</button>
          <template v-if="showTranslation">
            <button class="lang-eng"
              @click="lang = 'eng'"
              :class="{ active: lang === 'eng' }"
            >ENG</button>
            <button class="lang-esp"
              @click="lang = 'esp'"
              :class="{ active: lang === 'esp' }"
            >ESP</button>
          </template>
          <template v-if="!showTranslation">
            <button class="tategaki"
              :title="!showTranslation ? 'たてがき' : undefined"
              @click="writingDirection = 'tategaki'"
              :class="{ active: writingDirection === 'tategaki' }"
              :disabled="showTranslation"
            >縦書き</button>
            <button class="yokogaki"
              :title="!showTranslation ? 'よこがき' : undefined"
              @click="writingDirection = 'yokogaki'"
              :class="{ active: writingDirection === 'yokogaki' }"
              :disabled="showTranslation"
            >横書き</button>
          </template>
        </div>
        <button class="prev-page" title="まえ"
          :disabled="first"
          @click="pageSelected-=1"
        >前 &#8594;</button>
      </div>
    </main>
    <footer>
      <div class="disclaimer" v-if="!hideDisclaimer">
        This is a fan translation for educational purposes. All rights to "Berserk: The Flame Dragon Knight" belong to Young Animal Comics and the original creators. Please support the official release.
      </div>
      <button class="close-disclaimer" @click="hideDisclaimer = true" v-if="!hideDisclaimer">Close</button>
    </footer>
	</body>
</html>
