
body {
  background-color: black;
  color: white;
  font-family: Orbitron;
  background-image: url(bg.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

li {
  font-size: 24px;
  padding-inline-start: 1ch;
}

li.complete {
  list-style-type: '✅';
}

li.incomplete {
  list-style-type: '❌';
}

li:nth-child(even) {
  color: black;
}

#books-science-fiction {
  background: rgb(122 205 222 / 90%);
  display: inline-block;
  backdrop-filter: blur(2px) brightness(140%);
  padding: 8px 32px;
  border-radius: 24px;
}