body {
  margin: 0;
}

#content {
  text-align: center;
  padding-top: 6vh;
}
#number {
  font-size: 32vh;
  background: #df8a1b;
}
#hangeul {
  font-size: 18vh;
  background: #61fdac;
}
#options {
  position: fixed;
  left: 10px;
  top: 10px;
}
#options select {
  font-size: 28px;
}
fieldset {
  display: grid;
}

#mobile-options {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8vh;
}
.bnav .tiny {
  flex: 1
}
.bnav .small {
  flex: 2
}
.bnav .big {
  flex: 3
}

.bnav button {
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.bnav button.action1:hover {
  background: rgba(0,0,0,0.15);
}

.bnav button.action1:active {
  background: rgba(0,0,0,0.3);
  top: 2px;
}

.bnav button.action0 {
  background: #db3434;
}
.bnav button.action0:hover {
  background: #e45757;
}
.bnav button.action0:active {
  background: #9d1111;
}
.bnav button.action1 {
  background: #3498db;
}
.bnav button.action1:hover {
  background: #5eb5f0;
}
.bnav button.action1:active {
  background: #146093;
}
.bnav button.action2 {
  background: #34db85;
}
.bnav button.action2:hover {
  background: #61fdac;
}
.bnav button.action2:active {
  background: #209659;
}
.bnav button.action3 {
  background: #df8a1b;
}
.bnav button.action3:hover {
  background: #f8ad4b;
}
.bnav button.action3:active {
  background: #ab6811;
}

#more-options {
  display: none;
  position: fixed;
  bottom: 8vh;
  left: 0;
  width: 100%;
  height: 8vh;
}
.menu {
  border: 1px solid #c2c2c2;
  text-align: center;
  font-size: 3vh;
  font-family: monospace;
  font-weight: bold;
  padding: 10px;
  background: #f4eeee;
  
  position: absolute;

  /* unselectable */
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
#menumode {
  display: block;
  left: 0;
  top: 0;
  transform: translateY(-8vw);
  transition-duration: .2s;
}
#menumodecontrol:checked + div {
  transform: translateY(0);
}

#menumode .tab {
  display: block;
  position: absolute;
  margin-top: 10px;
  background: #f4eeee;
  padding: 8px 20px 10px;
  border-radius: 0 0 15px 15px;
  border-bottom: 1px solid #c2c2c2;
  border-left: 1px solid #c2c2c2;
  border-right: 1px solid #c2c2c2;
}
#mobile-practice-type {
  padding: 6px;
}
/* label[for="menuinfo"] {
  display: none;
}
#mobile-info-contentainer {
  display: none;
} */

label[for="menuinfo"] {
  display: block;
}
#menuinfo:checked + div {
  display: block;
}
#menuinfo + div {
  display: none;
}
#menuinfo + div + label {
  right: 0;
  top: 0;
}
#mobile-info {
  right: 0;
  top: 0;
}

#mobile-info:active {
  background: gray;
  color: white;
}

#mobile-info-contentainer {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
}

#mobile-info-contentainer div.content {
  font-family: monospace;
  overflow: auto;
  position: relative;
  margin: 10px 4vw;
  padding: 0 20px;
  height: calc(100% - 22px);
  border: 1px solid #c2c2c2;
  background: #ddddddb5;
  filter: drop-shadow(2px 4px 6px black);
}

#mobile-info-contentainer.hidden {
  display: none;
}

#hangeulSyllables {
  display: flex;
  left: 0;
  width: 100%;
  height: 14vh;
}

#hangeulSyllables button {
  flex: 1;
  font-size: 10vh;
  border: 1px ridge;
  background: #5eb5f0;
}

/* mobile */


@media (max-width: 500px) {

  #options {
    display: none;
  }

  #number {
    font-size: 46vw;
  }
  #number.clicked {
    background: #d8af79;
  }

  #hangeul {
    font-size: 12vw;
  }
  

  #hangeulSyllables {
    height: 8vh;
  }
  #hangeulSyllables button {
    font-size: 7vw;
  }
  
  #menumode {
    transform: translateY(-12vh);
  }
}


/* modal */

label.button {
  display: inline-block;
  color: #fff;
  padding: 10px 15px;
  background-color: #3c8dbc;
  border-color: #367fa9;
  border-radius: 4px;
  cursor: pointer;
  width: 80%;
}
.modal.hidden {
  display: none;
}
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: rgba(0,0,0,.4);
  font-family: monospace;
  font-size: 14px;
}
.modal-body {
  width: 200px;
  background-color: #fff;
  border-radius: 4px;
  padding: 15px;
  filter: drop-shadow(2px 4px 6px black);
}
.modal-content {
  padding: 15px;
}
.modal-footer {
  overflow: hidden;
}

input.number {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 20px 0;
  font-size: 32px;
}
