body {
  background: url(https://pm1.aminoapps.com/6507/896f7bf94ec73f5b673c359bf571607db6e92551_hq.jpg);
}

.class {
  display: flex;

  &.warrior,
  &.valkyrie,
  &.magician {
    > .subclass {
      background-position-y: -405px;
    }
  }

  &.witch,
  &.clergy,
  &.cleric {
    > .subclass {
      background-position-y: -486px;
    }
  }

  &.martial-artist,
  &.fight-mistress,
  &.ranger {
    > .subclass {
      background-position-y: -567px;
    }
  }
  
  &.archer,
  &.gunner,
  &.gunslinger {
    > .subclass {
      background-position-y: -648px;
    }
  }
  
  &.ninja,
  &.kunoichi,
  &.samurai {
    > .subclass {
      background-position-y: -729px;
    }
  }

  &.lady-samurai,
  &.armor-knight,
  &.thief {
    > .subclass {
      background-position-y: -810px;
    }
  }
  
  &.wiseman,
  &.beast-master,
  &.brute-warrior {
    > .subclass {
      background-position-y: -891px;
    }
  }
  
  &.sorcerer,
  &.masked-hero,
  &.magic-knight {
    > .subclass {
      background-position-y: -972px;
    }
  }
  
  &.majin,
  &.cheerleader,
  &.angel {
    > .subclass {
      background-position-y: -1053px;
    }
  }


  &.offset1 > .subclass {
    &:nth-child(1) {
      background-position-x: calc(-81px * 6);
    }
    &:nth-child(2) {
      background-position-x: calc(-81px * 7);
    }
    &:nth-child(3) {
      background-position-x: calc(-81px * 8);
    }
    &:nth-child(4) {
      background-position-x: calc(-81px * 9);
    }
    &:nth-child(5) {
      background-position-x: calc(-81px * 10);
    }
  }
  
  &.offset2 > .subclass {
    &:nth-child(1) {
      background-position-x: calc(-81px * 12);
    }
    &:nth-child(2) {
      background-position-x: calc(-81px * 13);
    }
    &:nth-child(3) {
      background-position-x: calc(-81px * 14);
    }
    &:nth-child(4) {
      background-position-x: calc(-81px * 15);
    }
    &:nth-child(5) {
      background-position-x: calc(-81px * 16);
    }
  }


  > .subclass {
    cursor: pointer;
    height: 82px;
    width: 82px;
    /* outline: 1px solid; */
    background-image: url(./img/D3.png);

    &:not(.unlocked) {
      filter: grayscale(1);
    }

    &:nth-child(2) {
      background-position-x: -81px;
    }
    &:nth-child(3) {
      background-position-x: calc(-81px * 2);
    }
    &:nth-child(4) {
      background-position-x: calc(-81px * 3);
    }
    &:nth-child(5) {
      background-position-x: calc(-81px * 4);
    }
  }
  
}


.class {
  &.sludge,
  &.orc,
  &.winged-warrior {
    > .subclass {
      background-position-y: -1215px;
    }
  }
  
  &.shroom,
  &.spirit,
  &.slumber-cat {
    > .subclass {
      background-position-y: -1296px;
    }
  }
  
  &.prinny,
  &.undead,
  &.marionette {
    > .subclass {
      background-position-y: -1377px;
    }
  }

  &.flora-beast,
  &.aqua-demon,
  &.roc {
    > .subclass {
      background-position-y: -1458px;
    }
  }

  &.death,
  &.mystic-beast,
  &.holy-dragon {
    > .subclass {
      background-position-y: -1539px;
    }
  }

  &.succubus,
  &.dragon-zombie,
  &.wood-golem {
    > .subclass {
      background-position-y: -1620px;
    }
  }
  
  &.riffle-demon,
  &.fire-demon,
  &.felynn {
    > .subclass {
      background-position-y: -1701px;
    }
  }

  &.dragon {
    > .subclass {
      background-position-y: -1783px;
    }
  }

  &.offset1.factory-desco > .subclass {
    &:nth-child(1) {
      background-position-x: calc(-81px * 2);
    }
    &:nth-child(2) {
      background-position-x: calc(-81px * 3);
    }
    &:nth-child(3) {
      background-position-x: calc(-81px * 4);
    }
    &:nth-child(4) {
      background-position-x: calc(-81px * 5);
    }
    &:nth-child(5) {
      background-position-x: calc(-81px * 6);
    }
  }
  &.factory-desco {
    > .subclass {
      background-position-y: -324px;
      background-position-y: -324px;
    }
  }
}