<html>
  <head>
    <title>Mosaicos</title>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script> <!-- release -->

    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div id="app">
      <p>
        {{ message }}
      </p>
      <fieldset>
        <legend>Configuración de hoja</legend>
        <label>Tipo
          <select v-model="sizeName" @change="changeType">
            <option v-bind:value="'A4'">A4</option>
            <option v-bind:value="'A3'">A3</option>
            <option v-bind:value="'CUSTOM'">CUSTOM</option>
          </select>
        </label>
        <span v-if="size">({{ size.width }}x{{ size.height }})</span>
        <div class="separator"></div>
        <label>Orientación: 
          <select v-model="orientation" @change="refresh">
            <option v-bind:value="'h'">Horizontal</option>
            <option v-bind:value="'v'">Vertical</option>
          </select>
        </label>
        <div class="separator"></div>
        <label><input type="checkbox" v-model="showBorder"> Mostrar borde</label>
      </fieldset>
      <fieldset v-if="sizeName == 'CUSTOM'">
        <legend>Propiedades</legend>
        <label>
          Ancho:
          <input type="number" min="1" v-model="customWidth" @keyup="changeType" @change="changeType" />
        </label>
        <label>
          Alto:
          <input type="number" min="1" v-model="customHeight" @keydown="changeType" />
        </label>
      </fieldset>
      <fieldset>
        <legend>Acciones</legend>
        <button v-on:click="clear">Limpiar</button>
        <button v-bind:disabled="!ready" v-on:click="refresh">Actualizar</button>
        <button @click="saveCanvas" disabled title="save using right click">Download</button>
        <label class="file-uploader">
          <input type="file" id="file" v-on:change="refresh">
          Cargar archivo
        </label>
      </fieldset>
      <canvas id="canvas"
        v-if="size"
        v-bind:width="size.width"
        v-bind:height="size.height"
        v-bind:style="showBorder ? styleCanvas : null"
      ></canvas>
    </div>
    <script src="scripts.js"></script>
  </body>
</html>